<!DOCTYPE html>
<html>
  <%- include('../partials/structural/head') %>
  <body>
    <%- include('../partials/structural/dashboard_header', { name: user.name }) %>
    <main class="mx-5">
      
    </main>
    <%- include('../partials/structural/footer') %>
  </body>
</html>