<!DOCTYPE html>
<html>
  <%- include('./partials/structural/head') %>
  <body>
    <main class="w-50 m-auto mt-5">
      <div class="alert alert-danger"><%= error %></div>
      <a class="btn btn-outline-primary" href="/home"><%= __('ui.return') %></a>
    </main>
    <%- include('./partials/structural/footer') %>
  </body>
</html>