<!DOCTYPE html>
<html>
  <%- include('./partials/structural/head') %>
  <body>
    <main class="w-50 m-auto mt-5">
      <div class="alert alert-danger"><%= error %></div>
      <a class="text-decoration-none" href="/">TaskApp</a>
    </main>
    <%- include('./partials/structural/footer') %>
  </body>
</html>