<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-5 mb-4 border-bottom">
  <div class="col-md-3 mb-2 mb-md-0">
    <a class="d-inline-flex link-body-emphasis text-decoration-none fs-3 fw-bold" href="/">TaskApp</a>
  </div>
  <div class="col-md-3 text-end">
    <a class="btn btn-outline-primary me-2 btn-sm" href="/login"><%= __('ui.login') %></a>
    <a class="btn btn-primary btn-sm" href="/register"><%= __('ui.signup') %></a>
  </div>
</header>